.board {
    outline: 2px solid #eefcf023;
  }
  
  .row {
    height: 35px;
  }
  
  .cell {
    width: 35px;
    height: 35px;
    outline: 1px solid #eefcf00e;
    display: inline-block;
  }
  
  .cell-green {
    background-color: #C8FD5B;
  }
  
  .cell-red {
    background-color: #F35500;
  }
  
  .cell-purple {
    background-color: #EEFCF0;
  }